<form id="JeekForm" class="modal-content animate">
    <div class="imgcontainer">
        <span onclick="hideJeekModal();" class="close" title="Close Modal">&times;</span>
    </div>

    <div class="container">
        <p> $(writer) </p>
        <textarea cols="70" class="jeek-textarea" readonly> $(text) </textarea>
        <p> $(tags) </p>
        <p> $(mentions) </p>
        <p id="LikeAndRejeekNum"> #Likes : $(Likes) / #Rejeeks : $(Rejeeks) </p>
        <input id="JeekId" value="$(JeekId)" style="display: none">
        <button class="like-btn" type="button" onclick="like(JeekId)">
            <i id="LikeBtn" class="fa fa-heart fa-2x fa-heart-o"></i>
        </button>
    </div>

    <div class="container" style="background-color:#f1f1f1">
        <button type="button" onclick="hideJeekModal();" class="cancelbtn">close</button>
        <button id="RejeekBtn" class="rejeek-btn" type="button" onclick="rejeek(JeekId)">
            ReJeek <i class="fa fa-retweet"></i>
        </button>
        <button id="RejeekLoadingBtn" class="rejeek-btn" style="display:none;">
            <i class="fa fa-spinner fa-spin"></i>Loading
        </button>
    </div>
</form>

