<div class="jeek">
    <div class="jeek-writer">
        <b> <i class="fa fa-at" aria-hidden="true"></i> $(writer) </b>
    </div>
    <div class="jeek-textarea">
        <textarea cols="70" class="jeek-textarea" readonly> $(text) </textarea>
        <p> $(tags) </p>
        <input id="$(JeekId)" value="$(JeekId)" style="display: none">
    </div>
    <div>
        <button class="details-btn" type="button" onclick="moreDetails($(JeekId))">
            More Details
        </button>
    </div>
</div>